/* Header */
.header {
  margin: 10px auto;
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5rem;
}
