/* ============================
   HEADER - Estilos Base (Mobile First)
============================ */
.header {
    margin: 10px auto;
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-secondary);
}

.header__nav__list {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}


/* ==================================
   Media Query: Mobile/Small Screen (< 480px)
================================== */
@media (max-width: 480px) {
    .header {
        padding: 0 1rem;
    }

    .header__nav__list {
        display: none;
    }
}

/* ==================================
   Media Query: Tablet (min-width: 40rem)
================================== */
@media (min-width: 40rem) { 
    .header {
        padding: 0 1.5rem;
    }
}

/* ==================================
   Media Query: Desktop (min-width: 64rem)
================================== */
@media (min-width: 64rem) { 
    .header {
        padding: 0 2rem;
    }
}