.hero {
  background-image: url('../images/herobg.jpg');
  max-width: 100%;
  height: 48rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  text-align: center;
  max-width: 48rem;
  padding: 0 1rem;
}

.hero__title {
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 3.75rem;
  margin-bottom: 1rem;
}

.hero__text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.hero__btn {
  background-color: #ff6f61;
  color: white;
  padding: 0.6875rem 2rem;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  display: inline-block;
}

.home {
  max-width: 80rem;
  margin: 3rem auto;
}

.home__main-title {
  font-weight: 800;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.home__text {
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.75rem;
}

.home__section-title {
    max-width: 48rem;
}

.home__products {
    margin-top: 2.5rem;
    max-width: 76rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.card__product {
    width: 24rem;
    height: 35.5rem;
}
.card__product h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.card__product p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    line-height: 1.25rem;
}

.product__img {
    width: 24rem;
    height: 30rem;
    border-radius: 0.75rem;
    object-fit: cover;
}