/* /styles/index.css */
@import url('1_fundation/tokens.css');
@import url('1_fundation/reset.css');
@import url('1_fundation/global.css');
 
@import url('2_layout/container.css');
@import url('2_layout/section.css');

@import url('3_components/button.css');
@import url('3_components/header.css');
@import url('3_components/footer.css');
@import url('3_components/hero.css');
@import url('3_components/quality-promise.css');
@import url('3_components/category.css');


 
@import url('4_utilities/utilities.css');