/* /styles/index.css */
@import url('1_fundation/tokens.css');
@import url('1_fundation/reset.css');
@import url('1_fundation/global.css');

@import url('2_layout/container.css');
@import url('2_layout/section.css');
@import url('2_layout/vertical-page-layout.css');
@import url('2_layout/sidebar-layout.css');

@import url('3_components/button.css');
@import url('3_components/header.css');
@import url('3_components/main-footer.css');
@import url('3_components/links-group.css');
@import url('3_components/newsletter-form.css');
@import url('3_components/category.css');
@import url('3_components/footer.css');
@import url('3_components/hero.css');
@import url('3_components/quality-promise.css');
@import url('3_components/categories.css');
@import url('3_components/quality-item.css');
@import url('3_components/main-header.css');
@import url('3_components/main-nav.css');
@import url('3_components/nav-item.css');
@import url('3_components/by-category.css');
@import url('3_components/input.css');
@import url('3_components/price-filter.css');
@import url('3_components/category-catalog.css');
@import url('3_components/products-grid.css');
@import url('3_components/product.css');
@import url('3_components/product-details.css');
@import url('3_components/checkout-form.css');
@import url('3_components/content.css');
@import url('3_components/order-confirmation.css');

@import url('4_utilities/utilities.css');