* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 100px;
}

li { 
  /* padding-left: 100px; */
  list-style: none;
}

/* .body {
  font-family: 'Courier New', Courier, monospace;
}

#body-new {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body.body#body-new {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: 'Times New Roman', Times, serif;
} */


.categories {
  margin: 1.25rem;
  padding: 1.25rem;
  border: 1px solid black;
  text-align: center;
}

.categories .categories__title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: darkblue;
}

.categories .categories__description {
  line-height: 2;
  color: green;
  text-align: justify;
}

.categories .categories__description.categories__description--active {
  color: red;
}

#button {
  background-color: red !important;
}

#button {
  background-color: lightgray;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
