body {
    max-width: 37.5rem;
    margin: 20px auto;
}

.container {
    border: 1px solid red;
    position: relative;
}

.box {
    width: 600px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
    margin-bottom: 1rem;
    font-weight: bold;
    color: white;
    position: unset;
    text-align: center;
}

.relative {
    position: relative;
    top: 10px;
    background-color: blue;
}

.absolute {
    position: absolute;
    background-color: darkmagenta;
    bottom: 15px;
    left: 50px;
    width: 300px;
    text-align: center;
}