.by-category__title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.by-category__text {
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  color: var(--secondary-foreground);
  max-width: 48rem;
}