.category__product-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.category__product-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--foreground);
}

.line-horizontal {
  border: 0.5px solid rgba(217, 217, 224, 1);
}

.category__product-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--secondary-foreground);
}



@media (min-width: 40rem) {
  .category__product {
    max-width: 80rem;
    flex: 1;
  }

  .category__product-img {
    aspect-ratio: 3 / 2;
  }
}

@media (min-width: 64rem) {
  .category__product {
    flex: 1;
    max-width: 24rem;
    max-height: 35.5rem;
  }

  .category__product-img {
    aspect-ratio: 3 / 2;
  }
}