/* content.css */

/* Contenedor principal para restringir el ancho y centrar, como se sugiere en IMG */
.content {
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
    color: var(--foreground);
    line-height: 1.6;
}

.content__list li {
    list-style: disc;
    margin-bottom: .5rem;
}

.content__list li::marker {
    color: var(--accent-foreground);
}

.content__list {
    margin-bottom: 1.25rem;
    padding-left: 2rem;
}

.content h1 {
    margin-bottom: 2rem;
    color: var(--headings);
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.content h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: var(--headings);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.content p {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1.25rem;
}