.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80rem;
  margin: 2rem auto;
}

.footer__nav__title {
  font-size: .875rem;
  font-weight: bold;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  margin-bottom: 1.5rem;
  color: var(--foreground);
}


.footer__nav__column {
  margin-bottom: 30px;
  min-width: 156px;
}


.footer__nav__column:nth-child(-n+3) {
  flex-grow: 1;
}


.footer__nav-list,
.footer__nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.footer__nav_item {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  color: var(--muted-foreground);
  margin-bottom: 24px;
  cursor: pointer;
}

.footer__bolletin__title {
  color: var(--foreground);
  font-weight: bold;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  margin-bottom: 1.5rem;
}

.footer__bolletin__text {
  font-weight: 400;
  font-size: .875rem;
  color: var(--muted-foreground);
  line-height: 1.25rem;
  letter-spacing: 0rem;
  margin-bottom: .5rem;
}

.nav__input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--border);
  border-radius: .75rem;
  width: 13.4375rem;
  display: inline-block;
}

.nav-button {
  padding: .625rem .875rem;
  background-color: var(--secondary-background);
  color: var(--secondary-foreground);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 500;
  display: inline-block;
}

.footer__hr-top {
  color: var(--separator);
  border-top: .0625rem;
}


.footer__hr {
  color: var(--separator);
  border-top: .0625rem;
}

.nav__copyrigh {
  text-align: center;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--muted-foreground);
  padding: 1.5rem 1.5rem;
}

@media (min-width: 40rem) {
  .footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }

  .nav__input {
    padding: .625rem;
    margin-right: .625rem;
    border: 1px solid var(--border);
    border-radius: .75rem;
    width: 20.9375rem;
    height: 2.5rem;
    display: inline-block;
  }

  .nav-button {
    height: 2.5rem;
    padding: .625rem .875rem;
    background-color: var(--secondary-background);
    color: var(--secondary-foreground);
    border-radius: .5rem;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    display: inline-block;
  }
}

@media (min-width: 64rem) {

  /* 1. Contenedor Principal: Separa Menús (Izq) y Boletín (Der) */
  .footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .footer__nav {
    padding: 0rem 1rem;
  }

  .footer__nav__column {
    min-width: 14.625rem;
  }


  .footer__bolletin {
    max-width: 450px;
    margin-top: 0;
    flex-shrink: 1; 
  }

  .footer__bolletin input.nav__input {
    width: auto; 
    min-width: 250px;
    margin-bottom: 0;
  }

  .footer__hr {
    flex-basis: 100%;
    width: 100%;
    border: none;
    border-top: 1px solid var(--separator);
  }

  .nav__copyrigh {
    flex-basis: 100%;
    text-align: center;
  }

}