/* Header */
.header {
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5rem;
  display: none;
}

@media (min-width: 40rem) {
  .header__nav__list {
    display: flex;
  }
}

