.hero {
    max-width: 100%;
    height: 34rem;
    background-image: url("/fullStock/images/herobg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero__title, .hero__text, .hero__button {
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.hero__container {
    text-align: center;
    padding: 0 1rem;
}

.hero__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    animation-delay: 0s;
}

.hero__text {
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
    animation-delay: 0.2;
}

.hero__button {
    
    animation-delay: 0.4s;
}

@media (min-width: 40rem) {
    .hero__title {
        font-size: 3.75rem;
        line-height: 3.75rem;
    }

    .hero__text {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}