.footer {
    width: 100%;
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
}

.newsletter-form {
    grid-column: 1 / -1;
    margin-top: 1rem;

}


.footer__nav__title {
    font-size: .875rem;
    font-weight: bold;
    line-height: 1.25rem;
    letter-spacing: 0rem;
    margin-bottom: 1.5rem;
    color: var(--foreground);
}

.nav__copyrigh {
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--muted-foreground);
    padding: 1.5rem 1.5rem;
}

@media (min-width: 40rem) {
    .footer__nav {
        padding-top: 3rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 64rem) {
    .footer__nav {
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
    }

    .newsletter-form {
        grid-column: auto;
    }

    .nav__copyrigh {
        text-align: center;
    }
}

.footer__hr {
    flex-basis: 100%;
    width: 100%;
    border: none;
    border-top: 1px solid var(--separator);
}