.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80rem;
    margin: 2rem auto;
}

.footer__nav__title {
    font-size: .875rem;
    font-weight: bold;
    line-height: 1.25rem;
    letter-spacing: 0rem;
    margin-bottom: 1.5rem;
    color: var(--foreground);
}

.nav__copyrigh {
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--muted-foreground);
    padding: 1.5rem 1.5rem;
}

@media (min-width: 40rem) {
    .footer__nav {
        padding-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
    }
}

@media (min-width: 64rem) {

    .footer {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .footer__nav {
        padding: 0rem 1rem;
    }

    .nav__copyrigh {
        flex-basis: 100%;
        text-align: center;
    }

}


.footer__hr {
    flex-basis: 100%;
    width: 100%;
    border: none;
    border-top: 1px solid var(--separator);
}