.nav__item {
    padding: 0.75rem;
    font-size: .875rem;
    color: var(--muted-foreground);
}

.nav__item:hover {
    background-color: var(--accent-background);
    transition: 0.6s ease-in-out;
}