.price-filter {
    display: flex;
    flex-direction: column;
    max-width: 24rem;

    font-size: .875rem;
    font-weight: 500;
    color: var(--foreground);
    margin-bottom: 1.5rem;
}


.price-filter__container {
    display: flex;
    gap: 1.5rem;
}

.price-filter__container div {
    display: flex;
    flex-direction: column;
}

.price-filter__title {
    margin-bottom: 1.5rem;
}

.price-filter__label {
    margin-bottom: .5rem;
}

.price-filter__input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--border);
    border-radius: .75rem;
    color: var(--foreground);
    padding: 0.5rem;
    background-color: var(--background);
    margin-bottom: 1.5rem;
}