.price-filter {
    display: flex;
    flex-direction: column;
    max-width: 24rem;
}

.price-filter__container {
    display: flex;
    gap: 1.5rem;
}

.price-filter__container div {
    display: flex;
    flex-direction: column;
}

.price-filter__input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--color-gray-200);
    border-radius: 0.5rem;
    color: var(--foreground);
    padding: 0.5rem;
}