.product {
    background-color: var(--muted-background);
    border-radius: .75rem;
    border: 1px solid var(--separator);
    overflow: hidden;
}

.product__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--background);
    color: var(--muted-foreground);
}

.product__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--foreground);
}

.product__price {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--foreground);
}