.quality__section {
    background-color: rgba(0, 0, 85, 0.02);
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--separator);
}

.quality__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.quality__title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}

@media (min-width: 40rem) {
    .quality__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
}

@media (min-width: 64rem) {
    .quality__section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .quality__container {
        max-width: 78rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
    }
}